.effect {
  display: none;
  @media (min-width: 700px) {
    display: flex;
    font-size: @14;
    line-height: @24;
  }
  @media (min-width: 1200px) {
    width: 100%;
    font-size: @18;
    line-height: @30;
    justify-content: center;
    background-color: @grey;
  }

  &__watch {
    width: 262px;
    height: 302px;
    flex-shrink: 0;
    margin: 7% 5%;
    background: url("../img/24-m.png") no-repeat center;
    @media (min-width: 1200px) {
      margin: 7% 7%;
    }
  }

  &__article {
    width: 45%;
    margin: 7% 0 7% 3px; //picture has different size from above picture in layout
    @media (min-width: 1200px) {
      margin: 7% 5%;
    }
    @media (min-width: 1350px) {
      margin: 7% 0%;
    }

    &__title {
      width: 55%;
    }

    &__text {
      @media (min-width: 1200px) {
        margin-bottom: 4%;
      }
    }

    &__link {
      color: @pink;
    }
  }
}
