.footer {
  display: flex;

  &__logo {
  width: 145px;
  height: 40px;
  background: url("../img/Pink-logo-footer-2@1x.png") no-repeat;
  }

  &__social {


    &_list {
      list-style: none;

      &_item {
        display: inline-block;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        border: 2px solid @footer-grey;

        a {
          display: block;
        }
      }
    }
  }
}

.icon-twitter {
  background: url("../img/svg/twitter.svg") no-repeat center;
}

.icon-facebook {
  background: url("../img/svg/facebook.svg") no-repeat center;
}

.icon-youtube {
  background: url("../img/svg/youtube.svg") no-repeat center;
}