.info {
  background-color: @white;

  &__title {
    background: url("../img/grey-triangle-bg.png") no-repeat bottom;
    background-size: contain;


  }

  &__description {
    background-color: @grey;
  }
}