@import "normalizeCSS";
@import "variables";
@import "header";
@import "header__logo";
@import "nav-toggle";
@import "navigation";
@import "promo";
@import "promo__title";
@import "promo__hand";

@font-face {
  font-family: OpenSans;
  src: url(../font/opensans.ttf);
}
body {
  font-family: OpenSans, Arial, sans-serif;
}