.map {
  //width: 320px;
  height: 208px;
  background: url("../img/map500-300.jpg") center no-repeat;
  background-size: cover;
  @media (min-width: 700px) {
    background: url("../img/map1490-600.JPG") center no-repeat;
    background-size: cover;
    height: 400px;
  }
  @media (min-width: 1200px) {
    height: 600px;
  }

  &::before {
    content: " ";
    display: block;
    position: absolute;
    width: 100%;
    height: 40px;
    background: url("../img/bg-triangle.svg") no-repeat top;
    background-size: contain;
    @media (min-width: 390px) {
      height: 100px;
    }
    @media (min-width: 700px) {
      height: 100px;
    }
    @media (min-width: 900px) {
      height: 150px;
    }
    @media (min-width: 1400px) {
      height: 180px;
    }
    @media (min-width: 1700px) {
      height: 200px;
    }

  }
}