#nav-toggle {
  height: 24px;
  width: 50px;
  border: 0;
  background: url("../img/svg/menu-burger-white.svg") no-repeat transparent;
  margin-right: 5%;
  padding: 0;
  outline: none;
  @media (min-width: 900px) {
    display: none;
  }

}
