.opinion {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("../img/grey-triangle-bg.png") no-repeat bottom;
  background-size: 100%;

  &__comment {
    width: 90%;
    margin-bottom: 50px;
    font-size: @14;
    line-height: @30;
    text-align: center;

    .pagination {
      margin: 20px auto 0;
    }

  }

}
