.price {
   display: flex;
   flex-direction: column;
   background-color: @grey;
}

.table-wrapper {
   margin: 60px 0 30px;
   line-height: @30;
   overflow: hidden;

   .pagination {
     margin: 30px 0 0 0;
   }
}

.price-list {
  position: relative;
  font-size: @14;
  background-color: @white;
  border-collapse: collapse;
    td {
      border: 2px solid @light-grey;
    }
  &__head {
    border: 2px solid red;
  }

  &__header {
    width: 275px;
    color: @white;
    font-size: @18;
    font-weight: @font-bold;
    text-align: center;
    background-color: @dark-blue;

    h2 {
      margin: 15px 0 10px 0;
    }
    span {
      display: inline-block;
      font-size: @24;
      font-weight: @font-light;
      margin-bottom: 15px;
    }
  }
}

