.price {
   display: flex;
   flex-direction: column;
   background-color: @grey;
}

.table-wrapper {
   margin: 30px 0;
   line-height: @30;
   overflow: hidden;
   .pagination {
     margin: 2% auto 0;
   }
}

.price-list {
  position: relative;
  right: 63%;
  font-size: @14;
  background-color: @white;
  border-collapse: collapse;
  @media (min-width: 700px) {
    position: static;
    margin: auto;
    right: 0;
  }
  @media (min-width: 1200px) {
    font-size: @18;
  }

  &__header {
    min-width: 270px;
    border: solid @grey;
    border-width: 2px 2px 0 2px;
    padding: 0;
    color: @white;
    font-size: @18;
    font-weight: @font-bold;
    background-color: @dark-blue;
    @media (min-width: 700px) {
      min-width: 150px;
    }
    @media (min-width: 1200px) {
      min-width: 233px;
    }
    
    &:first-child {
      background-color: @grey;
      @media (max-width: 400px) {
        .no-display;

      }
    }

    &_hit::before {
        float: left;
        content: url("../img/hit.png");
        @media (min-width: 700px) {
          content: " ";
          position: absolute;
          display: block;
          width: 60px;
          height: 60px;
          background: url("../img/hit.png") no-repeat;
          background-size: contain;

      }
    }

    h3 {
      display: block;
      width: 50%;
      text-align: center;
      margin: 15px auto 10px auto;
      @media (min-width: 700px) {
        width: auto;
        margin: 10px auto 0px auto;
      }
      @media (min-width: 1200px) {
        font-size: @18;
      }

    }

    span {
      display: block;
      width: 50%;
      text-align: center;
      font-size: @24;
      font-weight: @font-light;
      margin: 0 auto 15px auto;
      @media (min-width: 700px) {
        font-size: @18;
        margin: 0 auto 10px auto;
      }
      @media (min-width: 1200px) {
        font-size: @24;
      }
    }
  }

  &__item {
    border: 2px solid @light-grey;
    padding: 20px;


    &:first-child {
      @media (max-width: 400px) {
        .no-display;
      }
    }

    &__name {
      display: inline-block;
      width: 80%;
      @media (min-width: 700px) {
        .no-display();
      }
    }
    &__status {

      &_yes {
        display: inline-block;
        width: 30px;
        height: 30px;
        vertical-align: middle;
        background: url("../img/svg/yes-green.svg") no-repeat;
        @media (min-width: 700px) {
          margin: auto;
          display: block;
        }

      }
      &_no {
        display: inline-block;
        width: 30px;
        height: 30px;
        vertical-align: middle;
        background: url("../img/svg/no-orange.svg") no-repeat;
        @media (min-width: 700px) {
          margin: auto;
          display: block;
        }
      }

    }
  }
}

