.promo {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  @media (min-width: 700px) {
    width: 300px;
    margin-top: 200px;
    background: transparent;
    margin-left: 4%;
  }

  &__title {
    width: 300px;
    margin-bottom: 60px;
    align-self: center;
    text-align: center;
    @media (min-width: 700px) {
      width: 220px;
      margin-bottom: 0;
      z-index: 1;

    }

    h1 {
      color: @white;
      margin: 0;
      //@media (min-width: 700px) {
      //  width: 240px;
      //  margin: auto;
      //}
    }
  }

  &__hand {
    width: 258px;
    height: 286px;
    background: url("../img/iphone-hand-1.png") no-repeat center;
    @media (min-width: 700px) {
      position: absolute;
      width: 516px;
      height: 572px;
      top: 142px;
      right: 25px;
      background: url("../img/iphone-hand-1@2x.png") no-repeat center;
      z-index: 0;
    }
  }
}
